/* . - применение стиля к классу
Можно обращаться к тегам/классам */
.main_text {
	color: green;
}

/* # - обращение к id*/
#text-in-p {
	color: blue;
}

/* тег в теге*/
div p b, div i {
	color: red;
}